@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 23 23 23;
  }

  .dark {
    --background: 23 23 23;
    --foreground: 255 255 255;
  }
}

body {
  @apply bg-primary-light dark:bg-primary-dark text-text-light dark:text-text-dark transition-colors duration-300;
}
